/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "footer-styles.css";

@font-face{
  font-family:museo_sans300;
  src:url(assets/fonts/museosans_300-webfont.ttf) format("truetype");
  font-weight:400;font-style:normal}@font-face{font-family:museo_sans500;
  src:url(assets/fonts/museosans-500-webfont.woff2) format("woff2");
  font-weight:400;font-style:normal
}

@font-face{
  font-family:museo_sans500;
  src:url(assets/fonts/museosans-500-webfont.woff2) format("woff2");
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:museo_sans900;
  src:url(assets/fonts/museosans-900-webfont.woff2) format("woff2");
  font-weight:400;
  font-style:normal
}
.bg-dark-mt {
  background-color: #002856 !important;
}
.navbar{
  font-family:museo_sans300;
}
@media (min-width: 768px){
  .navbar{

    padding: 1.5rem 1rem;
  }
  .navbar img{
    width:130px;
    height: 44px;
  }
  .bar-white{
    margin-left: 15px;
    padding-left: 5px;
    width:37px;
  }
  .weather{
    padding-top: 3px;
    margin-left: 15px;
    padding-left: 8px;
    font-size: 20px;

  }
  .offset-md-2 {
    margin-left: 16.66666667%;
  }
}
@media (max-width: 767px){
  .navbar{

    padding: .5rem 0rem;
  }
  .navbar img{
    width:100px;
    height:auto;
  }
  .bar-white{
    margin-left: 5px;
    padding-left: 5px;
    width:27px;
  }
  .weather{
    padding-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    font-size: 15px;

  }
}
hr {
  height: 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid rgba(255,255,255,.3);

  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  text-align: center;
  margin-top: 15px;
}
.row{
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.entry {
  margin-top: 40px;
  margin-bottom: 40px;
}
.pac-container:after{display:none !important;}

